<div class ="row container" style="margin-top: 4em;">
<div class="col-md-4 mx-auto">
<h2> Créer un Compte</h2>
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">



<div class="form-group">

<label for="userName"> Nom</label>
<input type="text" id ="userName" class="form-control" formControlName="userName">
<span *ngIf = "formControls.userName.touched && formControls.userName.invalid" class ="error">
    Il faut entrer un nom.
    
        </span>
</div>

<div class="form-group">

    <label for="email"> Email</label>
    <input type="text" id ="email" class="form-control" formControlName="email">
    

    <span *ngIf = "formControls.email.touched && formControls.email.invalid" class ="error">   
        Il faut entrer un bon email.
    </span>

</div>

<div class="form-group">
    <label for="password"> password</label>

    <input type="text" id ="password" class="form-control" formControlName="password">
    <span *ngIf = "formControls.password.touched && formControls.password.hasError('required')" class ="error">
        Il faut entrer un mot de passe.
        
            </span>


            <span *ngIf = "formControls.password.touched && formControls.password.hasError('pattern')" class ="error">
                Le mot de passe doit contenir au moins .
                
                    </span>
</div>


<button type="submit"  [disabled]="signUpForm.invalid" class="btn btn-primary">

Créer un Compte
</button>

</form>
</div>

</div>