<div class "row container" style="margin-top: 4em;"> <div class="col-md-4 mx-auto"> <h2> Connexion </h2> <form [formGroup]="signlnForm" (ngSubmit)="onSubmit()"> <div class="form-group"> <label for="email"> Email </label> <input type="text" id="email" class="form-control" formControlName="emair> <span *nglf="formControLs.emaiLtouched && formControls.emaiLinvalid" class="error">I1 faut entrer un bon email.</span> </div> 
    <div class="form-group"> <label for="password"> Mot de passe </label> <input type="password" id="password" class="form-control" formControlName="password"> <span *nglf="formControLs.password.touched && fOrmControLs.password.hasErrorcrequired'y class="error"> faut entrer un mot de passe.</span> <span *nglf="formControLs.password.touched && formControls.password.hasErrorcpattern'y class="error"> Le mot de passe doit contenir au moins 6 caracteres </span> </div> 
    <button type="submit" [disabled]="signInForm.invaLid" class="btn btn-primary btn-block"> Connexion </button> 
    
    <button type="button" (click)="signInWithGoogle()" class ="btn btn-danger btn-block">

Se connecter avec Gmail

    </button>
    
    <div class="col-md-12 "> <div class="login-or"> <hr class="hr-or"> <span class="span-or">ou</span> </div> </div> <button type="button" class="btn btn-danger btn-block"> Se connecter avec Gmail </button> </form> </div> </div> 
    