input.ng-touched.ng-invalid { border-color: llred; 
} 
.error { color: ■red; } 
.Login-or position: relative; color: ❑ #aaa; margin-top: lOpx; margin-bottom: lOpx; padding-top: lOpx; padding-bottom: lOpx; 
} .span-or display: block; position: absolute; left: 50%; top: -2px; margin-left: -25px; background-color: 0#fff; width: 50px; text-align: center; } .hr-or { height: 1px; margin-top: Opx !important; margin-bottom: Opx !important; } 
